<br>
<h1>Currently Reading</h1>
<div class="currently-reading" style="text-align: center;">
    <!-- Resize image 178x236 total_pages must be a float for liquid to play nice -->
    {% assign title = "Certified Kubernetes Application Developer (CKAD) Study Guide, 2nd Edition" %}
    {% assign url = "https://www.oreilly.com/library/view/certified-kubernetes-application/9781098152857/" %}
    {% assign img = "/assets/images/ckad.png" %}
    {% assign total_pages = 270.00 %}
    {% assign current_page = 55 %}

    {{ title }}<br>
    {% assign total_percentage =  current_page | divided_by: total_pages | round: 2 | times: 100 %}

    <a link href="{{ url }}" target="_blank"><img src="{{ img }}" alt="{{ title }}" title="{{ title }}" /></a>
    <div id="container" style="width:100%; height:15px; border:1px solid #b5e853;">
        <div id="progress-bar" style="width:{{ total_percentage }}%; background-image:url(/assets/images/progress-bar.png); height:15px;"></div>
        {{ current_page }} / {{ total_pages | ceil }} Pages
    </div><br><br>
</div>
