<br>
<h3>Currently Reading</h3>
<div class="currently-reading" style="text-align: center;">
    <!-- Resize image 178x236 total_pages must be a float for liquid to play nice -->
    {% assign title = "MCA Microsoft Certified Associate Azure Administrator Study Guide: Exam AZ-104" %}
    {% assign url = "https://www.amazon.com/Microsoft-Azure-Administrator-Study-Guide/dp/1119705150" %}
    {% assign img = "/assets/images/mca.jpeg" %}
    {% assign total_pages = 435.00 %}
    {% assign current_page = 308 %}

    {{ title }}<br>
    {% assign total_percentage =  current_page | divided_by: total_pages | round: 2 | times: 100 %}

    <a link href="{{ url }}" target="_blank"><img src="{{ img }}" alt="{{ title }}" title="{{ title }}" /></a>
    <div id="container" style="width:100%; height:15px; border:1px solid #b5e853;">
        <div id="progress-bar" style="width:{{ total_percentage }}%; background-image:url(/assets/images/progress-bar.png); height:15px;"></div>
        {{ current_page }} / {{ total_pages | ceil }} Pages
    </div><br><br>
</div>
