---
---

@import "{{ site.theme }}";

.profile-picture {
    float: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.blog-archive {
    float: right;
}

.page-link {
    color: #fdfdfd;
}

.page-link:hover {
    box-shadow: inset 100px 0 0 0 white !important;
    color: black;
    border-radius: 3px;
}

.post-link:hover {
    box-shadow: inset 0 0 0 white !important;
    color: #b5e853;
}

.blog-post a:visited, a:link, a:active {
    text-decoration: none;
}

.blog-post {
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
}

.all-book-link {
    color: #b5e853;
}

.pagination {
    text-align: center;
}

ul.pagination > li {
    display: inline-block;
    padding: 0 0.5em;
    border: 1px solid #b5e853;
}
